body {
    background-image: url('mathpic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table {
    width: 1000px;
    height: 450px;
    background-color: yellow;
    margin-left: 14.5%;
}
h4 {
    color: yellow;
}
h1 {
    color: yellow;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    color: yellow;
    text-align: center;
    font-size: 16pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#tablebutton {
    margin-left: 47%;
}

#view_code {
    color: yellow;
}